/build/
/.gradle/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

.kode/
**/build/
**/.gradle/
**/node_modules/
/cli/bin/
/compiler/bin/
vscode-cplus/out/
**/dist/
intellij-cplus/.intellijPlatform/
.idea
/cli/src/main/kotlin/cplus/Version.kt
dist
c-plus-bin
/lib/
tinycc-cli*.jar
