/build/
/.gradle/
*.class
*.jar
!lib/*.jar

.kode/
**/build/
**/.gradle/
**/node_modules/
vscode-cplus/out/
**/dist/
intellij-cplus/.intellijPlatform/
.idea
/cli/src/main/kotlin/cplus/Version.kt
dist
